<!DOCTYPE html>
<html>
    <head>
        <title>
            Nutrition
        </title>
        <link rel='stylesheet' href='/style.css'>
    </head>
    <body>
        <script src="/main.js"></script>
        <ul class="top">
            <li class="top-item" id="dropdown">
                <a href="javascript:void(0)" class="dropdown-button">&nabla;</a>
                <div class="dropdown-content">
                    <a href="/views/today.html">Today</a>
                    <a href="/views/goals.html">My Goals</a>
                    <a href="/views/food.html">My Foods</a>
                </div>
            </li>
            <li class="top-item" id="topname"><a href="/views/today.html">Nutirtion Tracker</a></li>
            <li class="top-item" id="add-button"><button id="plus">&plus;</button></li>
        </ul>
        <div class="progresses">
            <progress></progress>
            <progress></progress>
            <progress></progress>
            <progress></progress>
        </div>
    </body>
</html>